[2015-09-27 15:02] KariWomack opened #3 "Meeting Times"
I am available MWF from 11:30-1, and after 3:00, or T TH, until 2:30, from 4-5:15, or after 7.

[2015-09-28 01:29] CodyKarch commented on #3
Going off of Kari, I am available MWF from 3 to 4 or TuTh from 10 to 11:30.

[2015-09-29 15:46] RJP43 commented on #3
I typically have instructor meeting Fridays from 3-?, but that is flexible as long as I give early notice. I work right after my classes on Monday - Wednesday and typically don't come to campus at all on Tuesdays or Thursdays; however, I wouldn't mind coming to campus for us to meet.

@rCarls @spadafour does Thursday or Friday work better for each of you?

[2015-10-01 15:43] RJP43 commented on #3
We decided to just meet Friday right after class. Therefore, I am closing this issue since we no longer need to figure out a meeting time. I expect that much of the collaboration will be via email and Github and whatever can't be relayed those two ways can be discussed right after class on any given class day.

[2015-10-01 15:43] #3 closed

[2015-10-02 10:50] RJP43 opened #4 "UNRH Conference"
Huzzah! The Restoration of Nell Nelson project has been accepted to present at the UNRH conference (to view details about the conference please visit http://unrh.org/)

There is opportunity for me to take fellow team members to this conference if anyone else is interested. I have to respond to the approval invitation by October 5th; therefore, it is very important that if you are interested in att

[2015-10-02 11:12] RJP43 opened #5 "Nell Nelson Biography"
One important aspect of the Nell Nelson project is to restore the biographical information of the woman behind the pseudonym. Nell Nelson's real name was Helen Cusack (after marriage Helen Cusack-Carvalho). As members of the restoration project we need to pull our resources together to find source documents and really *any* information available on Cusack as well as her family.

### What we know:

[2015-10-02 12:11] RJP43 opened #6 "Moving into TEI"
So as we have discussed the Nell Nelson project currently uses a customized RelaxNG schema of approx. 40 different elements and attributes and we need to move forward with converting these tags into TEI tags.

### Three Steps to Convert to TEI:
1. Choosing TEI elements/attributes that correspond well with the tags we already have in place
2. Choosing other aspects of the project we might be intere

[2015-10-04 02:55] RJP43 commented on #4
Ok looks like this is drawing any interest and since I need to turn in the acceptance letter and write for funding I am going to close this issue and conclude no one want to join me. :(

[2015-10-04 02:55] #4 closed

[2015-10-04 23:27] RJP43 opened #7 "Project Orientation"
@KariWomack
@spadafour
@CodyKarch
@rCarls

Please refer to our very frst [Wiki](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/wiki/Welcome-New-Editors-to-The-Restoration-of-Nell-Nelson).

I hope this helps each of you find your way around this repository.

Any Questions post here!!

[2015-10-10 03:16] ebeshero commented on #6
Hey, Nelson team! I've been working with Becca on learning some new TEI coding, to help convert the contents of a Really Badly Formatted Table from the 19th-century McEnnis text into Feature Structure encoding that is SO much easier to read and process. This coding will be useful for other tables or charts you run across in the McEnnis and/or other texts. I've just plotted out an extremely simple

[2015-10-12 15:40] RJP43 commented on #6
@CodyKarch will be working with the structuring elements/attributes

@spadafour  will be working witht the conversation and dialogue elements/attributes

[2015-10-12 15:46] ghbondar commented on #5
Searching Google on the title of the table: "sanitary conditions of workshops and factories" I found this link from 1880:
http://cdm16795.contentdm.oclc.org/cdm/ref/collection/redbk/id/2051

[2015-10-12 15:51] RJP43 commented on #7
@KariWomack A lot of the information we have right now in the file names will be moved into the TEI Headers of the individual files. In the meantime you can go forward with posting in *this issue* a systematic way of labeling the different source files so that we have shorter file and folder names. Don't make the changes just yet on the actual files because I still need to pull some of that inform

[2015-10-13 20:44] RJP43 commented on #6
@rCarls Could you work on finding TEI tags fore referencing specific information?

[2015-10-13 20:47] RJP43 commented on #6
For this week's 10 pts each of you will need to comment on this issue with TEI elements you feel best replace the specific category of elements you have been assigned. Please include the elements names and attribute pairing(s) as well as the chapter from the TEI guidelines where you found these elements.

Thanks @CodyKarch , @spadafour , @rCarls !

[2015-10-13 20:56] RJP43 commented on #5
@CodyKarch, as an alternative to finding TEI tags to replace the structure tags, you could provide us with the information you are able to find through your ancestry.com account. Comment in this issue with information you find and push any retrievable files into the [ResearchDevelopment folder](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/tree/master/ResearchDevelopment).
If you e

[2015-10-14 00:20] ebeshero opened #8 "Nelson Team Web Space Ready!"
The Pgh Supercomputing folks have set up the web space for the Nell Nelson project.
To access your space, using WinSCP or another SFTP program of your choice, do this:
1) go to access your own web space first.
2) navigate up to a parent directory, and do that again. (So, go up two levels.)
3) then, navigate down the following: var/www/html

You'll see three folders: dickinson16, ebb8, and nelson.

[2015-10-14 23:43] RJP43 commented on #7
Great News!!! @abrennr completed the OCR of our third source. We will have to review the files and do regex to clean up the extra characters and general wonky-ness that comes in with OCR text. @KariWomack @spadafour @rCarls @CodyKarch  check out the new files [here](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/tree/master/Anon_WhiteSlaveGirls_PDF) --- notice how for every .pdf fil

[2015-10-15 18:09] ebeshero commented on #7
@RJP43 @KariWomack @ghbondar I just took part in a command-line "boot camp" here in Pittsburgh, working with Pittsburgh Supercomputer space--and I learned how to apply regular expression patterns to match on file names and change them in their file directories. So, based on what I learned, I know we can quickly change file names by matching on a particular pattern or series of characters (like we

[2015-10-16 02:06] KariWomack commented on #7
Okay, exactly how many of these files need to be renamed? The reason I am asking is because I was wondering if certain things like tables and graphs would be part of other files, or if those need to also be systematically renamed on their own. Also, how do you feel about the commentary file names looking something like: NComm8-21 instead of Nell Nelson_8-21-1888_Commentary. Since all of the commen

[2015-10-16 03:23] spadafour commented on #6
I think the best way to handle conversion of conversation would be two wrap the element in <sp> elements, with the speaker as an attribute within.

EX: <sp who="mascVoice">Manly words being derogatory toward women.</sp>

<sp> is a speech element. I think it'd work well for macVoice and femVoice, especially since it holds the "who" attribute.

http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DR.

[2015-10-16 11:38] RJP43 commented on #6
@spadafour Fantastic! To indicate a conversation and grab all of the `<sp>` of one conversation together perhaps then we can use `<spGrp>` found here in the [TEI](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-spGrp.html)

I like the `<interp>` idea too we can add the `@respons` attribute so each editor has an `@xml:id` and then each interpretation can be linked to an interpreter found he

[2015-10-16 11:45] RJP43 commented on #6
@rCarls and @CodyKarch this is the kind of back and forth that is critical we have for each element/element sets we are replacing with TEI.

[2015-10-16 14:20] rCarls commented on #6
Some good news, it appears that all of the elements surrounding names in the currently coded articles fit the TEI: the tags are <persName>. That's not to say we can't narrow it down some more, however. We could add @ ref with something specific to each person, like the "#*designation*" that the Doctors Bondar use in the Mitford letter that is linked as an example in part 2 of the TEI lookup excerc

[2015-10-16 17:34] CodyKarch commented on #6
Here is the bundle of what I am thinking for structure:
In the articles; we can switch these things:
`<newspaperTitle> becomes ( I'm not sure what )`
`<date> becomes <dateline>`
`<num> becomes ( I'm not sure what )`
`<seriesTitle> becomes <byline>`
`<headLine> becomes mostly <argument> or rarely <quote>`
`<articleBody> becomes <body>`
Here is my sources for these thoughts----->http://www.tei-c.org

[2015-10-16 19:15] ebeshero commented on #7
So, I'm meeting with @RJP43 and @ghbondar now, and we're thinking maybe we want to keep the full date in case we want to add 1889 or 1890 articles later. But we can definitely shorten the names and that's a really good idea. I will suggest perhaps foregrounding the newspaper title in the filename as a standard way to put forward the publication medium: Eventually you may be adding articles from OT

[2015-10-16 19:27] ebeshero opened #9 "Correlate Newspaper Files with Book Files"
You need a convenient way to tell which newspaper articles go with which portions of the two book publications, so you can line them up together. I'd suggest a Wiki Page first to hold this information for the team.

[2015-10-16 19:30] ebeshero commented on #7
Book publications: keep it simple? Try for the books:

BarkleyS01
BarkelyS02
BarkleyS03
...
BarkelyS10
BarkelyS11
etc
(The Barkley pub isn't divided into chapters, and has more than 10 sections. Make your numbering go:
01 ... 10...20...30 so they can be sorted.)

VS.

McEnnisC01
McEnnisC02
McEnnisC03
...
McEnnisC39

[2015-10-25 06:20] RJP43 commented on #7
In order to get credit for participation in last week's and this week's project development I would like each of you @spadafour @rCarls @CodyKarch @KariWomack to read one article from the PDF images of the original articles and try your hand at transcribing it. In oXygen open a new XML document and give the document a root element of  `div type="article"` be sure to leave a comment tag or feel fre

[2015-10-25 08:38] RJP43 commented on #9
Post in here linking which Barkley Section(s) you find that correspond with the Original Newspaper Article you were assigned to transcribe @spadafour @rCarls @CodyKarch @KariWomack.

Thanks :+1:

[2015-11-01 15:18] RJP43 commented on #6
Ok,  all of our source files are officially moved into TEI... meaning all of the XML files have TEI headers and the TEI super-structure and some of the most important contextual elements have been transferred to TEI as well. We still need to go back through all of the files and do additional mark-up including version-ing and applying the new TEI tags for dialogue and voice tags.

[2015-11-01 17:44] RJP43 opened #10 "Editor Biographies"
In addition to completing the tasks of transcription and version linking I posted about in Issue #7 and Issue #9, I would like all of you to create a brief biography to include on the site.
![screenshot_1](https://cloud.githubusercontent.com/assets/8645521/10870251/15dc29fc-8094-11e5-8a98-795819b1eb81.jpg) This is what I currently have on the site and would like each of you to have something a bit

[2015-11-03 01:17] CodyKarch opened #11 "Meet-Up Times!"
Hey, just so that we get some constant work done for the Nelson project, me and @KariWomack are going to meet in the classroom Wednesday (11/4/15) and Friday (11/6/15) at 6pm to 8pm this week!!! If anybody would like to join us to accomplish stuff, @rCarls @spadafour @RJP43 , we will be there! :D

[2015-11-03 17:27] RJP43 commented on #11
Nice!!! Thanks @CodyKarch  and @KariWomack  for meeting with me yesterday I felt like we really got a lot done in coming to an understanding of what needs to be done for the project.    I won't make it this Friday due to me being at the conference; however, I will see you both on Wednesday!

@KariWomack I saw your transcription upload... well done!!

[2015-11-03 19:25] RJP43 commented on #7
I am going to make a new issue better directing how to complete the tasks laid out in the above comment!

[2015-11-03 20:10] RJP43 opened #12 "Transcription and Encoding"
The tasks in this issue (upon completion) will count as credit for Project Development for weeks ending  10/30, 11/6, and 11/13.

I would like each of you @spadafour @rCarls @CodyKarch @KariWomack to read one article from the PDF images of the original articles (published in the Chicago Times) and try your hand at transcribing it.

Go [here on GitHub](https://github.com/RJP43/CitySlaveGirls-Chicag

[2015-11-03 21:51] ebeshero commented on #6
@RJP43 I've made some corrections and revisions to simplify your TEI Header a bit. Make sure these make sense.

[2015-11-03 22:13] RJP43 commented on #6
@ebeshero thank you. I have reviewed your corrections and they all make sense. I have edited the document accordingly so as to remove the extra comments and simplify the header even further so students can easily read through it and understand more clearly where they are expected to edit it. I will keep you posted as I get the other headers revised for the McEnnis Text and the Barkley Text

[2015-11-03 22:53] RJP43 commented on #10
@rCarls @spadafour @CodyKarch I would like each of you to please get your biographies in by Friday so at the conference I can show off the diversity of the Nelson Project Team.

@KariWomack thank you for getting yours done. If you check out the site [http://nell.obdurodon.org/about.xhtml](http://nell.obdurodon.org/about.xhtml) there is a link in your bio not working... do you have a working link f

[2015-11-05 00:49] KariWomack commented on #9
I transcribed file 1888-08-09, which corresponds to sections 93-99 in Barkley. The first difference I noticed was that Barkley only had the first two headlines of the article, rather than all five. I also noticed that all of the names, shops, and street names have been cut off. Only the first letters are shown in Barkley.

[2015-11-05 01:03] ebeshero commented on #9
Yay! Good stuff, @KariWomack! Have you all been talking about versioning markup--how to code these differences in TEI? If not, I can write up something on how to do it.

[2015-11-06 00:20] spadafour commented on #10
Hey, I went into the `about.xhtml`, but it seems that the file up there right now is an old one; it only ls @RJP43 and Shane Daube as contributors currently. And yes, I synced my github before doing this. I even quit github, relaunched, and re-synched. I can add my info to that, but it probably needs to get fixed first. @RJP43, let me know whats up with that.

[2015-11-06 00:28] RJP43 commented on #10
@spadafour it looks like I don't have the right file synced ... when I get back to the hotel I will resync the right file ... sorry about that ... you can add your bio here in tics or wait an hour or so till I get back

[2015-11-06 00:37] spadafour commented on #10
No worries. Hope the trip's going well.

`Rob Spadafore is a Creative and Professional Writing Major at the <a href="http://greensburg.pitt.edu">University of Pittsburgh at Greensburg</a>. He is also editor-in-chief of the school newspaper, <a href="http://insiderupg.com">The Insider</a>.`

[2015-11-06 17:24] RJP43 commented on #9
@KariWomack well done :) can you go into the [collection folder](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/tree/master/Anon_WSG/BarkleyCollection) and let us know what file in the a.k.a. section corresponds ... I think above you are giving us page numbers from the original text / PDF images.

[2015-11-06 17:29] RJP43 commented on #10
The trip is going great so far.. I meet all of the other undergrads in a few hours! Well done with this bio. Thank you! You can check it out on the site here in a few minutes :)

@KariWomack did you find out about that broken link? And should I add the honor society link I have from above?

@CodyKarch and @rCarls where are you guys in terms of bios. ?

[2015-11-06 17:38] RJP43 commented on #10
@KariWomack oh I see now it was an image.. in order for it to show up I will need you to upload the image either here or place it into the images folder inside of the website folder and then we can link it like that

[2015-11-06 22:58] CodyKarch commented on #10
@RJP43 , I was about to put my into a commit, and it says it won't synch because of "unmerged files" and it shows stuff with the Barkley xmls... I think I posted it, but i'm not sure

[2015-11-06 23:02] CodyKarch commented on #12
So, @RJP43 , I ran into a big problem with this... I went to Cassell to finish the transcription and corresponding Barkley section, but they had locked it up. I thought I would be finished this evening, but due to zero access to what I had nearly finished, I won't be able to due it for tomorrow.. What will we do?

[2015-11-06 23:15] RJP43 commented on #12
you could add your bio here in tics... like @spadafour did above

[2015-11-06 23:17] CodyKarch commented on #12
sure.

[2015-11-06 23:19] RJP43 commented on #10
@CodyKarch I meant you can put the bio in tic like @spadafour did above in this issue

[2015-11-06 23:19] CodyKarch commented on #12
`Cody Karch is a student at the <a href="http://www.greensburg.pitt.edu/">University of Pittsburgh at Greensburg</a>, with plans to transfer to the main campus. His major is English Writing, but will be going into a duel-major in that and Philosophy eventually. Pitt-Greensburg's <a href="http://www.pitt.edu/~ebb8/DHDS/Fall2014-DHSyll.html">Digital Humanities Class</a> is what got him involved with

[2015-11-06 23:22] CodyKarch commented on #10
`Cody Karch is a student at the <a href="http://www.greensburg.pitt.edu/">University of Pittsburgh at Greensburg</a>, with plans to transfer to the main campus. His major is English Writing, but will be going into a duel-major in that and Philosophy eventually. Pitt-Greensburg's <a href="http://www.pitt.edu/~ebb8/DHDS/Fall2014-DHSyll.html">Digital Humanities Class</a> is what got him involved with

[2015-11-06 23:25] RJP43 commented on #10
thanks :) @CodyKarch

[2015-11-06 23:34] CodyKarch commented on #10
Yep, and I hope you noticed my other post

[2015-11-06 23:39] RJP43 commented on #12
When you push your transcription to GitHub it should be in the [ChicagoTimes_CSG_XML](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/tree/master/ChicagoTimes_CSG_XML) so there shouldn't be anything involved with the Barkley Collection besides looking at those files to determine differences with the file you transcribed and making a determination as of what section matches up with th

[2015-11-06 23:45] CodyKarch commented on #12
I know that, but like I'm saying, I literally can't finish it due to being locked out of Cassell

[2015-11-07 17:09] KariWomack commented on #9
Yup, in the collection folder, it was BarkleyS14.

[2015-11-08 22:57] CodyKarch commented on #10
Hey, @RJP43 , just so you know.. I gave you the wrong link in my description. If you want to change it, here is the CORRECT link: http://newtfire.org/dh/CDASyll.html

[2015-11-17 17:11] RJP43 commented on #10
@rCarls I still do not have a bio from you ?

[2015-11-17 19:26] RJP43 commented on #9
Hey everyone @rCarls @KariWomack @CodyKarch @spadafour ,

I started putting this information into an excel spreadsheet. Simply go [here](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/ResearchDevelopment/Correlation4Versioning.xlsx) click on the raw view save the file and open or use you desktop client and go into the ResearchDevelopment folder and you will see the file

[2015-11-21 20:28] CodyKarch commented on #9
The Barkley one for mine --1888/8/8 -- was BarkleyS13.

[2015-11-21 20:32] CodyKarch opened #13 "Credit for Progress"
Hey @RJP43 , I was wondering what our tasks for the weeks of 11/20, and 11/27 would be? I believe you would like us to keep working on articles, but I don't know what your say is for the credit in these weeks. Let me know, thanks!
@rCarls @KariWomack @spadafour

[2015-11-21 20:33] #11 closed

[2015-11-21 21:00] RJP43 commented on #13
Hey everyone,

@CodyKarch @spadafour @rCarls @KariWomack  --- for this past week and Thanksgiving week I would like for the few who have yet to commit a transcribed article to do so. As for everyone that has an article done it would be helpful to start coming up with XSLT templates for turning some of these XML files into HTML that will go up on the web. If XSLT isn't your favorite we also still n

[2015-11-21 21:01] RJP43 commented on #9
Thanks @CodyKarch

[2015-11-30 17:00] RJP43 commented on #6
`<said @who @ana>`

[2015-12-02 16:31] spadafour opened #14 "12-1 Class Meeting"
@RJP43  accomplished:
* Added `<p>` tags to 7/30 and 7/31 (this article is incomplete)
* Proofread 7/30 and 7/31
* Added `<persName> <placeName> <orgName> <placeName type="address">`
* Fixed all of the `<unclear>` -- now consistent with TEI (for 7/30 and 7/31)

Needs to add:
* @spadafour add schematron to web development folder and fix 8/02 and /03
* @RJP43 adding dialogue tags for 7/30 and /31 (a

[2015-12-03 04:55] CodyKarch commented on #14
Just so y'all know, I basically finished changing the whole C.S.S. --who knew it would take one good evening? Anyway, I will show it to you in(or after) class Friday.

[2015-12-03 12:37] ebeshero commented on #14
@CodyKarch Yay! But why keep us in suspense? Could you take some current pages and save them with a slightly altered file name (like add "tester" to the end of the name) and put them up in the newtfire space? That way the team can give it some thought and you all can discuss the new look when you meet on Friday!

[2015-12-03 13:17] RJP43 commented on #14
@CodyKarch yes go ahead and post it. Remember, I copied all of the files at the beginning of the week so that we can completely change everything without a worry that we don't have backups. So no fear if you save over something or like Dr. B. said name it tester and apply it to some or all of the pages and label it tester too ... whatever works for you to get it up for us to see  :) great job!

[2015-12-03 14:33] RJP43 commented on #14
`<p>"<said who="workingGirl" select="female" ana="wageDesc" corresp="negative">Then I must pay 10 cents car fare each time, and that leaves only 40 cents. I had to pay $3 before I could get any work. I always knew how to crochet, but they made me pay $2 for lessons and $1 as a security. I began in January, the first week, and now I am through. I have made $15, and when they give me back the dollar

[2015-12-03 14:36] RJP43 commented on #14
Here would be a conversation when there aren't real specifics being discussed
`<p>"<said who="workingGirl" select="female">I brought the mate back.</said>"</p>`
                    `<p>"<said who="foreman" select="male">Oh, you have, eh?</said>" opening a piece of newspaper and unfolding a dozen hand-made mats the size of a tea-plate. The work is carefully examined on both sides and as he proceeds

[2015-12-03 16:33] RJP43 opened #15 "xml:ids for Companies to correlate Companies and Addresses"
Here are a few example of how your `<orgName>` and `<placeName type="address">` should be coded using the `@ref` attribute. The `@ref` attribute that will correspond to an xml:id in our Site Index. In this issue please list any companies that you identify in your articles with the corresponding xml:id you chose for the company and refer to this issue before assigning new xml:ids to be sure no one

[2015-12-03 16:35] RJP43 commented on #15
The companies identified in [article 1888-07-30-ChTimes](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/ChicagoTimes_CSG_XML/1888-07-30-ChTimes.xml):

`#WLMC` - Western Lace Manufacturing Co.
`#WPA` - Woman's Protective agency
`#RCRB` - Rosenthal &amp; Co.'s and Rosenberg Bros
`#Stein` - Stein's
`#Ludden` - Ludden's
`#NRJC` - Never-Rip Jersey Company
`#MarshF` - Marshall

[2015-12-03 16:40] #13 closed

[2015-12-03 16:40] #10 closed

[2015-12-03 22:40] ebeshero commented on #14
@spadafour @CodyKarch @KariWomack @RJP43 Becca and I are talking about this now, and came to a decision: It's not technically right with the TEI (they have a harsh phrase on the Tech Council called "tag abuse") to use `@corresp` in that way. So it's best to nest a couple of elements for the specific use-cases you are thinking about here. Try nesting like this:

[code]

Will that work?

[2015-12-04 01:11] KariWomack commented on #14
Hey, guys. I trying to get my work done for tomorrow, but my desktop GitHub isn't loading. I'll keep trying to reload it and maybe let it go for a bit before trying again, but hopefully it will be working by tonight/tomorrow so I have stuff done Friday. If not, maybe I can work it out on a lab computer or have someone look at it tomorrow. Just letting you guys know im trying here. See you tomorrow

[2015-12-04 17:42] spadafour opened #16 "12-4 Class Meeting"
We reviewed:
* Specifics of tagging articles
* Cody - worked on CSS

For Next Class:
* Everyone = Further Tagging of Articles: (again, refer to 10/30)
* Cody - more work on CSS (rip out methodology and move it to About...drop down boxes in there?)
* Rob - new system of tags

@CodyKarch @KariWomack @RJP43

Also....
For tagging complex paragraphs containing multiple instances of attributes and conno

[2015-12-04 17:54] spadafour commented on #16
There is another issue: what happens when conversation handles lots of different topics at once?

`"I do not get paid much to work. I only get paid one penny a day. Working next to an open window is very cold, and it is hard to work knowing that I will only make a penny. Because I only earn one penny a day, my mother makes me do extra chores around the house. Seriously, what can I even do with jus

[2015-12-05 16:42] RJP43 commented on #16
Okay so here is what we will go with (using the examples from above):
I like the idea of adding in the new descriptor -- mixed to describe an `<rs>` `@subtype` that contains information that is perceived by he transcriber to be both positive and negative. The ideal way to code the `<rs>` elements would be to go with the initial gut feeling the statement give the transcriber and because we are repr

[2015-12-05 17:03] ebeshero commented on #16
This looks sensible to me! I wonder if there's a simpler way to deal with `@resp`: The `@resp` attribute shows who's making the call, which might aid in later review if, say, Rob starts to see a pattern in the files he's marking, or Becca wants to look over the collection of files to see how Kari tended to mark something, Do you anticipate having multiple team members adding interpretive code to e

[2015-12-05 17:39] RJP43 commented on #16
@ebeshero I can think of instances where I may want to add interpretations or future editors might want to add interpretations to the markup of this year's editors that is why I was suggesting the `@resp`; however, everyone as I mentioned in class on Friday you should edit the TEI header of the articles you are working on to include your contributions there is a `<respStmt>` commented out in all o

[2015-12-05 17:53] RJP43 opened #17 "Consistent Coding"
@KariWomack @CodyKarch @spadafour @ebeshero

I am going to make a list here of the elements, attributes and values we should be using and the descriptions associated so that we are making sure to code consistently. @spadafour  This will also, hopefully, be useful in the writing of the schematron. Everyone please refer to Issue #15 for the xml:ids of the companies so that we also keep those consist

[2015-12-05 20:59] KariWomack commented on #15
Companies from 8-9-1888:
#Gold - Goldsmith's
#Olson - Olson's
#KNels - Knute Nelson's
#BS - Benson's Shop
#Schmall - Schmallen's

[2015-12-06 17:53] spadafour commented on #15
Forgot to add mine, I only had one:
`#EUC` - Excelsior Underwear Company

[2015-12-06 18:14] spadafour commented on #17
I think we should add one more `@type` for the `rs` element, something like `general`. The reason: the benefactor. When he speaks, he says some interesting things, which I can mark up as positive or negative, but he mostly isn't speaking specifically about living conditions or anything. @RJP43 what do you think?

[2015-12-06 20:10] CodyKarch opened #18 "Tagging Question"
Hey @RJP43 I was wondering two things: 1. You want us to put tags in the headlines, right? 2. How should we approach quoting when it is presented inside of a box image? My article contains this on page two, if you check the PDF of the newspaper.
https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/ChicagoTimes_CSG_PDFandOldXML/Nell_Nelson_8-8-1888.pdf

[2015-12-06 20:15] RJP43 commented on #18
No tagging in headlines because it is out of context and will only add duplicates of stuff we tag within the article @CodyKarch @KariWomack @spadafour (I'm pretty sure I said this Friday, but okay maybe not)

And if the text is inside a "box image" as a representation of a sign or contract/document simply put it in its own `<p>` tag and then leave a comment tag with your initials and the date sayi

[2015-12-06 20:23] CodyKarch commented on #18
So if it is another level of quotation being representative of a sign, I put the quote inside the `<p>` tag?

[2015-12-06 20:29] RJP43 commented on #18
yea... the `<p>` is structural markup so structural markup will always sit outside of any contextual markup

[2015-12-06 20:43] CodyKarch commented on #15
Question: what if we aren't sure whether the name of the business is "Boston store" or if that is the place described?
`For <rs type="workDesc|workEnvir" subtype="negative" resp="CAK">dismal surroundings, economy of comforts, and heartless treatment</rs>, to the Boston store belongs the palm.`

[2015-12-06 20:46] RJP43 commented on #15
hmm... @CodyKarch  I can't really tell by this context so just comment tag it and we can tackle it as a group tomorrow

[2015-12-06 20:47] RJP43 commented on #15
@CodyKarch also i would only give that a rs type of workEnvir because workDesc should be reserved for actual description of work being done and this sounds like only a description of environment ... see issue #17 for detail description of each value

[2015-12-06 21:36] CodyKarch commented on #15
Yeah, I caught that on my own too, good job noticing my error!

[2015-12-07 07:49] RJP43 opened #19 "SOLUTION TO THE MERGE CONFLICT ERROR FROM 12/7/15"
FIXING THE MERGE CONFLICT FROM 12/7/15

[2015-12-07 07:54] RJP43 commented on #19
Also if anyone has not synced since Friday but did sync on Friday please rip your files from your local directory and put them somewhere on your local machine --- that may be our saving grace.

[2015-12-07 17:12] RJP43 commented on #19
@rCarls @spadafour @KariWomack @CodyKarch Everybody this is very important. Save any of your articles or website development (CSS) you have been working on over this weekend locally on to your computer then go in and delete your local repository literally right click in your desktop client and in your GitHub local directory and remove/delete. Then go back onto the online version and re-clone the r

[2015-12-07 17:59] RJP43 commented on #19
I'm going to leave this open so people can look and comment here if they have issues!

[2015-12-08 07:25] RJP43 commented on #15
The companies identified in [Article 1888-07-31-ChTimes](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/ChicagoTimes_CSG_XML/1888-07-31-ChTimes.xml)

`#Ellinger` - Ellinger's  (repeat)
`#Willong` - Willonghby, Hill &amp; Co.
`#WPA` - Woman's Protective agency (repeat)

[2015-12-09 18:28] RJP43 commented on #17
@spadafour @KariWomack @CodyKarch Okay so I am trying to finish up the XSLT for the article templates and I am getting started on writing the `<span>` representations for the `<rs>` and I am running into the question on whether we want to have our spans pull out the `@type` or `@subtype`... a basic question here... Do we want to have the conditions or the connotations be colored text? VERY BASICAL

[2015-12-11 15:46] spadafour opened #20 "Presentation Feedback"
Hey, Dickinson Group, let us know what you think!

[2015-12-11 17:19] RJP43 commented on #17
Only XML to tag as of 12/11 until we get the schematron and site index complete

the **structural elements** are `<head>`, `<div>`, and `<p>`
* the `<head>`element contains the element `<title>` only
* the `<div>` element has the attribute `@type` which is equal to one of the following values `"headlines"`, `"articeBody"`, or `"advertisement"`
*inside of the `<div type="headlines">` there is the a

[2015-12-11 17:22] RJP43 opened #21 "Rules to Constrain with Schematron:"
Rules to Constrain with Schematron:
`<said>`  -  and corresponding `@who` with the values of  "unidentified", "workingGirl", "nellNelson", "foreperson", "employer"  "employee" "benefactor" "messenger" and `@ana` with the values "male", "female" "unknown"

... add more here with questions ...

[2015-12-11 17:30] RJP43 commented on #20
javascript suggestion for articles: toggling grammatical markup and toggling for quotes (on two levels choosing a range of colors that look good together)

css: for the `<said>` box-model (what looks best? coloring the whole box or just the border/outline?) each said will get their own color

need colors for each nouns and adjectives --- need colors that correspond for all of this!

[2015-12-11 18:50] ebeshero commented on #20
Here's a link to the Dickinson group's issue page for project comments: https://github.com/ebeshero/EmilyDickinson16/issues/25

[2015-12-11 18:52] RJP43 commented on #20
@spadafour @ebeshero @KariWomack @CodyKarch

How does this look for an example:
example: `A <seg><w type="adj" ana="pale">pale-faced</w> <w type="noun" ana="workingGirl">Hannah</w></seg> refused to stitch the <w ype="noun">dress</w>. The <seg><w type="adj" ana="lazy">lazy</w> <w type="noun" ana="foreperson">foreman</w></seg> yelled at <w type="noun" ana="workingGirl">her</w>, "You are the <seg><w

[2015-12-11 19:50] blawrence719 commented on #20
I'm not sure if you guys are actually planning on doing this, but I know that @RJP43 had talked about how she was interested in how males vs females would categorize/tag everything differently and I think that this would be interesting and something to incorporate in a page similar to the Dickinson team's conclusion page. I think it's especially interesting because you're working with articles abo

[2015-12-12 06:31] brookestewart commented on #20
I think it would be a good idea to document your thought process as you worked through the tagging differences and explain how you came up with a concrete set of tags - just a short explanation, possibly in a conclusion page. I agree with @blawrence719  that it would be interesting to show the different thought processes and why everyone didn't immediately agree on how things should be coded. One

[2015-12-12 15:10] spadafour commented on #21
Hey @ebeshero I'm starting to work on my schematron. Is there anything special I need to do with the header?

[2015-12-12 15:15] RJP43 commented on #21
@spadafour I will have the site index done by this evening just to touch base with you... I will ping you wheb it's complete and synced

[2015-12-12 15:16] spadafour commented on #21
Cool! Thanks. I only have a couple hours before I have to leave for work, but I'll try and get this done.

[2015-12-12 15:40] spadafour commented on #21
Hey, I'm having an issue associating my schema with the document. I'm clicking on validate > validate with... > finding my schematron (and making sure that the correct schema type is selected). Nothing seems to appear in my header, and its not finding any of my changes. Is it because we already have an associated schema (the TEI one in the header)??

[2015-12-12 15:43] spadafour commented on #21
It might have to do with my header in my schematron itself? Maybe? I jacked it from the schematron 1 homework:

`<schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"`
`    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"`
`    xmlns="http://purl.oclc.org/dsdl/schematron">`

[2015-12-12 16:08] spadafour commented on #21
Okay, I got it associated, I just have to make sure my rules are firing

[2015-12-12 16:45] spadafour commented on #21
Okay, I spent a while trying to get a schematron working. I got the namespace to attach to a file, but I can't get any rules to fire. I need to leave for work, and I won't be home until around 11:30 tonight. @RJP43 can you take a look at it and see if you can find out what I'm doing wrong? It's not complete, but its a start. At least 3 of the rules SHOULD be right (they are at least properly writt

[2015-12-12 16:54] ebeshero commented on #21
@spadafour @RJP43 I bet I know what the problem is: It'll be a namespace issue with the TEI...I may be able to quickly correct it from here if that's the case. I'll take a look in a minute.

[2015-12-12 17:56] ebeshero commented on #21
@spadafour @RJP43 I repaired the Schematron problem: you just need a `tei:` prefix in front of every element name. (And you don't need or want them for attribute names, which are in their own parallel universe namespace). So, for example, if you wanted to test for something in all the placeName elements inside the body element, you write your patttern rule like this:

[code]

Two New Things:
1) I

[2015-12-12 17:59] ebeshero commented on #21
By the way, great debugging work, @spadafour, in tracking down the problem. You were pretty close, I think, to finding the solution yourself!

[2015-12-12 20:14] RJP43 commented on #15
can everyone please put your personal xml:ids here:

for example mine is `#rjp`

[2015-12-12 22:09] RJP43 commented on #21
@ebeshero and @spadafour  I finished the main important structure of the [site index](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/webDevelopment/siteIndex.xml). There are some things to add. For one we still need to put the McEnnis `<listBibl>` in and all the corresponding chapters insides of `<bibl>` elements. Another thing we need to do is add descriptor notes to ea

[2015-12-13 18:21] nlottig94 commented on #20
I really like what you guys are doing with the page.  I also really like how @RJP43 and @spadafour discuss issues they have with coding.  Being in the room on Thursday evening and Friday morning when you were discussing how you should go about tagging the articles is a very interesting issue.  It made me think about how different opinions are depending on how the articles are read or what a person

[2015-12-13 18:54] ebeshero commented on #21
@RJP43 @spadafour I've just added some comments to your site index and pushed it to the repo. Yes, this is fine for Rob to work with for the Schematron: Think about where you want this to sit in your file directory: Usually I store the project schematron in the same place with the site index and it's typically an outer directory.

[2015-12-13 18:55] ebeshero commented on #21
@RJP43 Becca, you just want to rethink how you're representing newspaper articles: See my explanation of the @level attribute on `<title>` and consider that you need to represent the title of the newspaper in the `<bibl>` entries. I left a big comment on how to do that in your siteIndex file.

[2015-12-13 22:03] KariWomack commented on #15
#KMW

[2015-12-14 15:12] RJP43 opened #22 "Today's Meeting - 12/14"
@CodyKarch @spadafour: @KariWomack and I are in the classroom so whenever you guys can get here this is where we will be until we (possibly) get booted ! We can record what is accomplished today and tasks to move forward in this issue!

[2015-12-14 16:45] RJP43 commented on #22
next meeting at 10AM on Wednesday 12/16 @CodyKarch @spadafour @KariWomack come with articles finished if possible and whether finished or not please SYNC and ping us by Tuesday night by 7pm so we can swarm and help you finish!

[2015-12-15 00:19] RJP43 commented on #22
okay so what we accomplished at this meeting:

## A few decisions made in regards to markup -
1. we decided to eliminate all of the `<rs>`tagging except for the `<rs type="interruption">`
2. for the `@ana` associated with `<w type="noun">`  and the `@who` on the `<said>` elements there should be a reference `#` preceding the following options `"nellNelson" "workingGirl" "foreperson" "employer" "em

[2015-12-15 15:16] #6 closed

[2015-12-15 15:17] RJP43 commented on #9
This information now sits inside of our site index ... add accordingly

[2015-12-15 15:17] #9 closed

[2015-12-15 22:33] CodyKarch commented on #22
Question: How do we approach adjectives written out as numbers? Do we simply act like it is a normal adjective, just written in numerals?
Like: `<w type="adj" ana="hundred">100</w>`

[2015-12-15 22:42] CodyKarch commented on #22
Question2: How do we approach words that were mistyped and we provided a correct version of? Would it be like thus?
`<choice><sic><w type="noun">beeeze</w></sic><reg resp="CAK"><w type="noun">breeze</w></reg></choice>`
or
`<choice><sic>beeeze</sic><reg resp="CAK"><w type="noun">breeze</w></reg></choice>`

[2015-12-15 22:46] CodyKarch commented on #22
Question3: What would the ana attribute of the adjective "sizzling" be? I assume "sizzle".

[2015-12-15 22:58] CodyKarch commented on #22
Question4: How do I manage this? `at the extreme south-east corner of the floor`
Would it be marked up as `at the <seg><w type="adj" ana="extreme">extreme</w><w type="adj" ana="south-east">south-east</w><w type="adj" ana="corner">corner</w> of the <w type="noun">floor</w>`

[2015-12-16 14:50] RJP43 commented on #22
Hey everyone I am on my way to campus running a little late, but I will see you all soon.

[2015-12-17 03:25] ebeshero opened #23 "Positioning SVG on an HTML Page"
For guidance on positioning SVG on the HTML page, see [our JavaScript Exercise 3](http://newtfire.org/dh/JavaScript_Exercise3.html) and look in the third bullet point under "Some guidance for stepping your way to a solution." And this is what you need to read: https://css-tricks.com/scale-svg/

@RJP43 @spadafour

[2015-12-17 15:39] spadafour opened #24 "12/17 Project work"
@RJP43 @CodyKarch @KariWomack
Hey guys! Just letting you know that I'm up at Press Room 122 in Village Hall working. I know you guys won't be ready to work until later, but just wanted to give you an update.

[2015-12-17 21:49] spadafour commented on #24
@RJP43 Are you out of your final yet?

[2015-12-18 00:30] RJP43 commented on #24
@spadafour @CodyKarch @KariWomack can everyone please **SYNC** the latest version of the articles you are working on. I need all of the articles with the correct basic structural elements, `<unclear>`, `<said>`, `<p>`, and `<rs type="interruption">` elements in place so that I can turn them into HTML pages.

@KariWomack were you able to finish article 7-31 getting the `<said>` tags in place?
@Cody

[2015-12-18 14:20] RJP43 commented on #24
Okay, well I am here on campus. It takes a lot of effort for me to get to campus since I can't drive and I don't see anyone else here. I am not going to let my ride leave until I here back from someone saying they are coming because if he leaves and goes home it will be a hour drive home, a hour drive back to get me, and another hour drive back home. I'm not going to ask my ride to do that for no

[2015-12-18 14:57] #24 closed

[2015-12-18 21:28] RJP43 opened #25 "12-18-2015 Progress and What we discussed!"
@KariWomack call the javaScript `saidToggle` and reference [this](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/Website/text_McEnnis/McEnnis_TOC_JavascriptDaube.js) for help. Call or text with issues and we can work through it together.

[2015-12-19 06:55] ebeshero opened #26 "SVG pulled from Collection"
@RJP43 @spadafour I've figured out what was going wrong with spacing your SVG bars, and it was a couple of things: the `position()` within the collection might not be a consistent calculation, so I found another attribute value (your `@corresp` on `<title>`) that yields us a reliable numerical value (after we grab it with `substring-after()` and the `number()` function). Also, to cluster your litt

[2015-12-19 21:48] ebeshero opened #27 "Sorted SVG elements with xsl:sort over an Array of Variables"
@RJP43 @spadafour The solution to the question of how to sort wasn't too hard, but a little different from what we're used to. The `<xsl:sort>` does need to sit inside an apply-templates or an xsl:for-each, but if we stop and think about it, we can set up a for-each to loop through nothing else but the value of your list of eight variables for the various speaking voices in your collection. Using

[2015-12-20 22:30] RJP43 opened #28 "Finished Website... EXCEPT..."
Hi everyone ( @spadafour @KariWomack @CodyKarch @ghbondar @ebeshero ),

Alright so the site is finally finished.... EXCEPT........

there are a few problems I am having once I transferred the site to the web that I'm confused on and looking for help. Everything is synced!

Okay, first thing when I open the index page locally it looks like how I want it to, like this:

![capture](https://cloud.gith

[2015-12-20 23:02] ebeshero commented on #28
@RJP43 I'm looking at it now:
1) On the index.html page (viewing in Chrome), I *am* seeing two images, side by side. The one on the left is the picture of Nell you've had up all along, and the one on the right is an ad for *The White Slaves*. Both images are captioned. Is that what I'm supposed to be seeing?

2) I see the SSI error, and I'm just now syncing my GitHub to take a look. My first thoug

[2015-12-20 23:06] RJP43 commented on #28
@ebeshero interesting it must be my chrome browser.... I can see both images using explorer.

[2015-12-20 23:07] ebeshero commented on #28
@RJP43 YES--indeed that *is* the problem: In your SSI line, you are referencing top.html as if it is sitting in a parent directory in relation to the articles. But when I look at your files on newtfire, top.html is sitting on the same directory level with each article file. Fix that and I think you'll be good.

[2015-12-20 23:08] RJP43 commented on #28
AHHHHH.... ok thanks.

[2015-12-20 23:16] ebeshero commented on #28
By the way, the article interface looks great (so far--I haven't seen it with the SSI yet) Check your spacing on the About page for the project team listing. You probably want a space or some padding after the role name and the text following: (Editor:Name). The link to last year's clickable graph in Obdurodon takes the reader through a pretty dramatic color shift--actually kind of hurts the eyes

[2015-12-20 23:24] RJP43 commented on #28
yes I can and plan on it over break (there is a reminder to do so in the HTML), but this was all I had time to do. I have literally not stopped working on it for three days.

[2015-12-20 23:27] RJP43 commented on #28
I'm exhausted which also makes sense why I didn't catch the change for the include (all the articles were sitting inside of a separate folder called articles when I first  created the articles pages with the XSLT so there were a series of change I made and that was the one I passed over). Thanks again for catching that! I will see what I else I can fix when I get home from grabbing a bite to eat.

[2015-12-20 23:39] ebeshero commented on #28
@RJP43 Don't worry about it--it doesn't affect anyone's grade--My eyes were just shocked by the color shift!

[2015-12-20 23:41] RJP43 commented on #28
Okay the SSI issues is fixed and Nasib fixed my chrome browser so I can see both images now :)

[2015-12-20 23:50] RJP43 commented on #28
Scratch that I changed the top and forgot to change the foot now ... so I will do that when I get back

[2016-01-05 04:30] RJP43 opened #29 "Article Transcription -- Spring 2016"
@nlottig94

As you requested:

If you want to get started on an article I think a nice early one to begin that some how has been skipped over would be the article from 1888-08-01.  The following should be everything you need. Comment in this issue with any well issues .. lol

The pdf of this article can be found on this repo. [here](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blo

[2016-01-05 04:36] RJP43 commented on #29
@nlottig94  also referring to issues #17 and #15 may be helpful but if the seem confusing don't worry I can explain things better once we are together. Also I forgot to mention use `<p>` tags to separate every paragraph if Nelson purposely begins a new paragraph even if for just one sentences it gets a new set of `<p>` tags. Hopefully this wasn't too much to scare you away ... lol !

[2016-01-05 19:45] nlottig94 commented on #29
@RJP43 So I have a piece of damaged paper here, but it almost looks like it was intentionally whited out...What attribute should I use for something like that?

[2016-01-05 19:55] RJP43 commented on #29
Could you use the snipping tool on your computer and paste an image of what you mean here in a comment? Can you make out any part of the word to figure out what is being said? And have you looked at the Barkley publication to see if the word is there? Call me if ya want.

[2016-01-05 19:56] nlottig94 commented on #29
Okay...I figured it out...apparently I was zoomed in too far!  It has been one of those days so far!   Sorry!

[2016-01-05 19:57] RJP43 commented on #29
Could you use the snipping tool on your computer and paste an image of what you mean here in a comment? Can you make out any part of the word to figure out what is being said? And have you looked at the Barkley publication to see if the word is there? Call me if ya want.

[2016-01-05 19:58] RJP43 commented on #29
Oh okay lol

[2016-01-05 19:58] nlottig94 commented on #29
Sorry!  I didn't know that was possible!

[2016-01-05 19:58] RJP43 commented on #29
Me either lol

[2016-01-05 20:00] RJP43 commented on #29
Hey also did you determine an xml:I'd for yourself yet and I will need a bio from you to add to the website... you can add that here if you like or we can do it together tomorrow night.

[2016-01-05 20:01] nlottig94 commented on #29
I have just been using `#nll` and I think I'll just wait for tomorrow night!!  If that's okay!

[2016-01-05 20:02] RJP43 commented on #29
That works :)

[2016-01-05 20:03] nlottig94 commented on #29
Okay!  One more thing, if she is quoting a sign, should I still wrap it in a `<said>` tag? Because it is in quotes.

[2016-01-05 20:06] RJP43 commented on #29
No put it in its own set of `<p>` tags and add a comment either before or after noting it is a sign. Also remind me to show you tomorrow night how we handle brief interruptions (like she said or he proclaimed) that come up in the middle of quoted text.

[2016-01-05 20:09] nlottig94 commented on #29
Okay.  Sounds good!

[2016-01-06 02:17] nlottig94 commented on #29
Okay, so the first part of the article (up to the headline of STARVATION WAGES.) is in Barkley Section 6.  The next part of the article starts on section 7.

[2016-01-06 20:19] nlottig94 commented on #29
@brookestewart Here is the information you need to transcribe and code the article.  I'll link what article in a couple minutes!

[2016-01-06 20:30] nlottig94 commented on #29
First, clone this repository.  Then navigate to [this article](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/ChicagoTimes_CSG_PDFandOldXML/Nell_Nelson_8-10-1888.pdf).  This is the article from 08-10-1888 that also be found at the [NYU site here](http://dlib.nyu.edu/undercover/xii-city-slave-girls-nell-nelson-chicago-daily-times).  Refer to the corresponding [Barkley sec

[2016-01-07 02:39] brookestewart commented on #29
Just making a note that it's actually Barkley section 15. I was so confused for awhile!

[2016-01-07 02:42] nlottig94 commented on #29
Whoops!!  Sorry!!!  I don't know what we were thinking!  Sorry!!

[2016-01-07 02:43] RJP43 commented on #29
Yea actually I think it is an error in the site index. Thanks for catching that!

[2016-01-07 02:47] RJP43 commented on #29
Or actually I had made the mistake of looking at the wrong site index entry ... which by the way here is the [site index](https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/blob/master/webDevelopment/siteIndex.xml) and this is your ( @brookestewart ) article's site index entry
`<bibl xml:id="CT012">
                  <title level="a">"City Slave Girls" <date when="1888-08-10"/></title>

[2016-01-07 02:54] brookestewart commented on #29
Thanks guys! @RJP43 @nlottig94

[2016-01-07 17:02] brookestewart commented on #29
Are the $ okay to leave in the text? I wasn't sure if it was a reserved character.

[2016-01-07 17:07] RJP43 commented on #29
Yes they are fine

[2016-01-07 17:07] RJP43 commented on #29
And thank you!

[2016-01-07 17:10] brookestewart commented on #29
I'm almost done transcribing! I only did some basic coding because I wasn't sure what all was included.

[2016-01-07 17:42] brookestewart commented on #29
I'm pushing it to Github now! You may want to double check the TEI header and the tagging to make sure it's correct.

[2016-01-07 17:51] brookestewart commented on #29
Okay, just kidding. It says I don't have permission to push to this repository.

[2016-01-07 17:56] ebeshero commented on #29
Hi Brooke--I bet that Becca hasn't added you as a collaborator (yet)--but I wonder if this is a good opportunity to try issuing a contribution with a pull request?

Dr. B, rushing about in prep for class...

Typeset by hand on my iPad

[2016-01-07 17:57] RJP43 commented on #29
Wow great fast work! I will add you as a collaborator now and you can push... sorry about that!

[2016-01-07 17:57] RJP43 commented on #29
Oooo yea great idea ... yes go ahead and try your hand at a pull request.

[2016-01-07 18:00] RJP43 commented on #29
You may have to fork the repo first. Report back or  if it stumps you the  let me know and I can add you as a collaborator.

[2016-01-07 18:12] brookestewart commented on #29
Okay! I actually have to get ready and leave for class right now, but I'll try the pull request or forking when I get back home.

[2016-01-07 21:33] brookestewart commented on #29
It seems I can't issue a pull request without forking the repository. I clicked fork and found my way to the forked repository, but I can't issue a request there either.

[2016-01-07 21:43] RJP43 commented on #29
Ok now that you have forked the repo using the online version and once you are on your online forked repo you then have to clone that "new repo" to your local machine ... then on the desktop client add the file to the CT XML folder, commit, and sync. Then there should be the option to do a pull request.  Thanks for experimenting with this! This kind of trial and error is what @ebeshero was talking

[2016-01-07 21:44] RJP43 commented on #29
If you feel extra ambitious you can add a branch within your fork (from the Desktop Client), add the file through your branch to the forked repo, sync the branch to the fork and then try for the pull request.

[2016-01-07 21:46] RJP43 commented on #29
Please note for us here any special aspects or difficulties you see while doing this. THANKS again :)

[2016-01-07 23:04] brookestewart commented on #29
For reference: so far, I was able to clone the "new repo" to my local machine. However, it is still saying that I don't have permission to make any changes when I attempt to "publish" (sync). I had tried to sync my filed with the original repo first, and it said I didn't have permission. On my local machine, it looks as though my commit went through to the original, but it doesn't show up on the o

[2016-01-08 00:58] nlottig94 commented on #29
@RJP43    We, @ebeshero and I are trying the forking and branching.....are we doing this the right way?????

[2016-01-08 01:01] nlottig94 commented on #29
Help @RJP43 !!!!

[2016-01-11 16:15] RJP43 commented on #29
I am wondering should we have `<place>` for the general descriptions of where things are that aren't an exact address and have `<placeName>` only for full addresses. Ugh, today's class has me questioning our markup, again! Damn, @spadafour @nlottig94 @brookestewart.

[2016-01-13 17:08] ebeshero opened #35 "Working with Network Analysis"
Here are some resources to get you started with network analysis:
1) My blog:
https://digitalromanticist.wordpress.com/2013/08/23/spectacular-intersections-of-place-in-southeys-thalaba-the-destroyer/

2) My XML to Cytoscape tutorial: http://ebeshero.github.io/thalaba/cytosc.html

3) Obdurodon projects using network analysis:
* Tarantino project: http://bamfs.obdurodon.org/index.xhtml
* St. Petersb

[2016-01-27 23:42] nlottig94 opened #36 "Editor Biographies and Site Index Ids"
Biography:
Nicole Lottig is a graduate from the University of Pittsburgh at Greensburg, majoring in Cultural Anthropology with a minor in Gender Studies.  She is currently the Technical Assistant for Pitt-Greensburg's new Center for the Digital Text, as well as an intern for the Academic Programs International Campus Advocate program.

Site Index: #nll

[2016-01-31 02:50] RJP43 opened #38 "Help - edit Keystone DH proposal"
@ebeshero @ghbondar @nlottig94 @brookestewart @spadafour

Hi everyone,

I made a significant amount of edits to our [original Nelson conference proposal](https://github.com/RJP43/CitySlaveGirls/blob/master/Proposals_And_Papers/spadafour_2016_KeystoneDH.docx) (per @ebeshero 's suggestions) and now I am about 70 words over. If any of you could find the time to read over [this edited proposal](https:

[2016-01-31 02:59] #14 closed

[2016-01-31 02:59] #12 closed

[2016-01-31 03:00] #18 closed

[2016-01-31 03:00] #19 closed

[2016-01-31 03:00] #21 closed

[2016-01-31 03:00] #22 closed

[2016-01-31 03:00] #25 closed

[2016-01-31 03:01] #8 closed

[2016-01-31 03:01] #16 closed

[2016-01-31 03:01] #17 closed

[2016-01-31 03:01] #26 closed

[2016-01-31 03:01] #27 closed

[2016-01-31 03:03] #7 closed

[2016-01-31 03:04] RJP43 commented on #36
@brookestewart Whenever you have a moment can you add you bio and the initials you have been using in your article transcription.

[2016-01-31 21:31] RJP43 commented on #38
@ebeshero and @spadafour

[Final Revisions](https://github.com/RJP43/CitySlaveGirls/blob/master/Proposals_And_Papers/parker_2016KeystoneDH.md) have been made to the proposal to get it down to 298 words. Could either of you please run through this and fix grammatical errors?

[2016-02-01 01:32] ebeshero commented on #38
@RJP43 @spadafour I made a few small edits that I think ultimately trimmed it down by a few words. It looks exciting! Good work addressing the question of why this project matters in under 300 words!

[2016-02-01 01:41] RJP43 commented on #38
Thank you Dr. B!

[2016-02-01 02:01] #38 closed

[2016-02-20 17:08] nlottig94 opened #39 "ILiADS Conference"
@RJP43 @spadafour @brookestewart
The proposal for this is due on Monday. I will try to get a proposal up by using what @spadafour and @RJP43 used for the Keystone Conference and the old proposal from @RJP43. I'll keep you up to date.

[2016-02-22 03:36] nlottig94 commented on #39
@RJP43 @spadafour @brookestewart
Our proposal has been submitted via email to the ILiADS 2016 Steering Committee!!

[2016-02-22 13:26] RJP43 commented on #39
great thanks @nlottig94 !

[2016-02-28 03:23] RJP43 commented on #29
@nlottig94 Transcription of Article CSG 1888-08-12

[2016-03-12 20:48] RJP43 opened #47 "Where are we going?"
@spadafour

Let's touch base here...

Where are we in getting the Barkley Publication updated with `<p>` tags?
What semantic markup have we decided to remove from the articles? And what did we decide to add?  (ARE WE DOING VERBS? We want to remove the adjective markup except on archetypes and use of possesive pronouns, right?)
Once the Barkley Publications are complete I think we could do a bulk t

[2016-03-12 20:49] RJP43 commented on #47
There are a series of things to fix based off of last semester comments... lets come up with a plan to attack those issues as well. We can do some of this in person this week, but at least this issue gives us a starting point and place to jot down ideas.

[2016-03-12 20:52] RJP43 commented on #47
Also we have some broken links on our site ... damn!

[2016-03-13 20:54] spadafour commented on #47
We're about 1/4 of the way through adding <p> tags to the barkley publications, it'll take a solid free night to finish that out, nothing too time consuming.

Are we doing verbs? Maybe? I think priority #1 would be focusing on finding differences between the originals and the Barkley texts. What was that website (I think?) that Dr. B showed us last year that compared and contrasted two uploaded te

[2016-03-14 17:56] nlottig94 commented on #39
@RJP43 @spadafour @brookestewart @ebeshero
Our proposal to ILiADS has been accepted!!  We hadn't heard, so I emailed them this morning and got an email back saying that we were in and that a coach will be in touch with us shortly!!  The dates for the institute are July 24 through July 29 and will be held at Hamilton College in New York.  Registration begins on April 25, so we will have enough time

[2016-03-15 01:37] ebeshero commented on #39
Huzzah!!!! And...wow!!!

[2016-03-16 16:58] RJP43 commented on #47
# Meeting 3/16:

- [ ] Fix last semester issues --- curly quote formatting check out CSS formatting on Mitford (?)

- [ ] mark variation texts using Barkley transcriptions and editing where original articles change using the `<app>` `<rdg>` -  Variant Mark-Up Reference: https://docs.google.com/document/d/1r-8NGPJL1pZ20pnfvoX5OT0DkcDi-NBp5urJiZwx1sY/edit#

- [ ] continue marking proper nouns (peopl

[2016-03-20 17:57] RJP43 opened #48 "The tagging saga continues.... Dashes and Quotation Marks"
So as I am taking a closer look at a few aspects of the articles that we need to standardize. I am tossing around a few different ways to code these aspects here: @spadafour @ebeshero We will need to discuss how to edit these in past article transcriptions and the possible writing of schematron rules to fire on these for future transcriptions.

Let's first discuss **dashes**:

1. Okay so there are

[2016-03-20 19:44] RJP43 opened #49 "The tagging saga continues ... Version Control"
@ebeshero @spadafour So when we are marking up the versoning between texts I am trying to figure out if it makes more sense to have elements like `<placeName>` and `<persName>` and `<orgName>` surrounding the `<app><rdg>` setup or to have the just mentioned elements sitting inside each of the different `<rdg>` elements.

Easier to explain with an example:
Here is the text as it originally appears

[2016-03-20 19:57] RJP43 commented on #49
Also we had  briefly talked about whether we want to do versioning to make when there is a variation in the "appearance" of text. So for example in the original articles there may be a comma somewhere that doesn't appear in the Barkley text or in the original articles frequently when the title of the newspaper is referenced it is in all caps whereas in the Barkley text just Times is italicized.  I

[2016-03-20 20:16] ebeshero commented on #49
@RJP43 These are good questions. You want to establish a clear methodology for what you are going to mark and what you are going to ignore silently as not relevant. You can create an editorial statement that will sit in your TEI header, in the `<encodingDesc>` that will explain openly what you are ignoring and why you and your team are ignoring it. You can say that the use of blockcaps doesn't mat

[2016-03-20 20:22] RJP43 commented on #15
The companies identified in [Article 1888-08-19-CHTimes](https://github.com/RJP43/CitySlaveGirls/blob/master/ChicagoTimes_CSG_XML/1888-08-19-ChTimes.xml):

EXPOSED COMPANIES:
`#HSC` - H. Schultz &amp; Co.'s paper-box manufactory
`#KBO` - trousers manufactory of K. B. Oleson
`#Doremus` - Doremus laundry
`#Loomis` - Loomis laundry
`#Munger' - Munger laundry
`#OrienLaun` - Oriental laundry owned by E

[2016-03-20 23:52] RJP43 opened #50 "The tagging saga continues ... Grammatical Markup"
- [x] Remove markup of adjectives linked with nouns: EX. `<seg><w type="adj" ana="crochet">crochet</w>-<w type="noun">teacher</w></seg>`

- [x] Remove markup of adjectives linked with other adjectives: EX. `<seg><w type="adj" ana="2">two</w> <w type="adj" ana="feather">feather</w> <w type="noun">factories</w></seg>`

- [x] Remove floating noun markup (nouns without associations): EX. `<w type="nou

[2016-03-20 23:53] RJP43 commented on #50
@spadafour anything else we decided to edit for the grammatical markup?

[2016-03-21 15:35] RJP43 commented on #48
differentiate between single and double quotes can have an `@type` on the `<hi>` element (@nlottig94 suggestion)

just remove all quotation marks and in the XSLT that creates the HTML when we have a `<said>` re-input the curly quotes around the contents (@spadafour suggestion)

[2016-03-30 14:26] nlottig94 opened #51 "XSLT Batch Transformation"
[Look here!!](http://dh.obdurodon.org/transformation-scenario.xhtml)

[2016-03-31 17:56] nlottig94 opened #53 "Schematron Issue"
@RJP43 @spadafour I am currently transcribing the article Becca assigned me, and I noticed that since the GitHub was rearranged, there is an issue with the Schematron. I don't know if the file path needs changed?  I just wanted to let you guys know!

[2016-04-01 00:11] RJP43 commented on #53
@spadafour @nlottig94 @brookestewart If you are working on transcriptions just comment out the schematron line.. currently our schematron doe not align with everything that we are using in our code and it has been moved ... when these two things are fixed I will comment here with the correct schematron line.

Thanks!

[2016-04-01 16:37] ebeshero opened #54 "Network Analysis Discussion: Bimodal and Directed"
@RJP43 and @spadafour Rob and I were discussing your ideas for plotting a network analysis from CitySlaveGirls. First of all, just to get your feet wet:
1) You might just want to try this as a prototype for this homework from a bundle of files you know is in good shape (as in, just isolate the files that have the data you want).
2) It seems pretty clear that what you are creating is a **directed**

[2016-04-02 14:06] RJP43 commented on #50
`<seg>It occupies only the three upper floors of a four-story building, but the stairways are so dark and narrow that one must grope <w type="adj" subtype="poss">his</w> <w type="noun">way</w> from somewhere to a suppositious somewhere else</seg>, which resembles nowhere when he gets there, because <seg>the rooms are so overcrowded with material that one <choice><sic>employe</sic><reg resp="#rjp">

[2016-04-02 14:34] RJP43 commented on #50
@spadafour scratch some of that we should continue with the seg around just the two words but grab the sentences with a s that hold any segs and use that as context so then when multiple segs fall in a single sentence the sentence is the context so we can grab segs individually and not complicate the markup by grabbing the words on position.

[2016-04-02 14:36] RJP43 commented on #50
`<s>It occupies only the three upper floors of a four-story building, but the stairways are so dark and narrow that one must grope <seg><w type="adj" subtype="poss">his</w> <w type="noun">way</w></seg> from somewhere to a suppositious somewhere else, which resembles nowhere when he gets there, because the rooms are so overcrowded with material that one <choice><sic>employe</sic><reg resp="#rjp">em

[2016-04-03 13:38] RJP43 opened #57 "What is done:"

[2016-04-03 14:04] RJP43 commented on #57
@ebeshero @spadafour

I have added the completed files to eXist:
![screenshot_1](https://cloud.githubusercontent.com/assets/8645521/14232794/6ef1c020-f983-11e5-87b5-4556896c34f9.jpg)

[2016-04-04 03:20] RJP43 commented on #54
[code]
@spadafour @ebeshero Okay, this is what I have so far. Do I need to add the attribute columns?

[2016-04-04 03:22] RJP43 commented on #54
This is my ouput:

![image](https://cloud.githubusercontent.com/assets/8645521/14237505/ba8c8ba4-f9f2-11e5-82ae-5bab7fbb9adf.png)

And I get 533 returns so it is grabbing every instance of the `<phr>` markup. Which makes me thing I should take distinct-values somewhere so there are no repeats.

[2016-04-04 03:34] RJP43 commented on #54
can view the output here http://dxcvm05.psc.edu:8080/exist/rest/db/rParker/nelsonOutput.tsv

[2016-04-04 03:45] RJP43 commented on #54
@spadafour Also while I was working on this I thought of another thing that we might try to use cytoscape for and it seems a bit closer to what is being done on the Decameron project and therefore the assignment page: my idea is to grab all of the placeNames type locRef and type address that are in  a single file. My thinking on this is that if we can't get an actual amp in order or maybe as a pre

[2016-04-04 03:51] RJP43 commented on #54
@spadafour or continue with what I have here and try to get this so that we get the attributes @ebeshero discusses above and distinct-values so we aren't getting the repeated sets of words

[2016-04-07 23:26] RJP43 commented on #53
@nlottig94 @brookestewart @ebeshero

@spadafour and I just finished updating our schematron! YAY!

Any future transcriptions should associate the schematron by adding this line at the top of the document after the TEI schematron lines:

`<?xml-model href="../..//webDevelopment/nelsonSchematron.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>`

[2016-04-08 00:21] RJP43 commented on #53
I am closing this issue because I have added the correct schematron line to all of our transcribed files!

[2016-04-08 00:21] #53 closed

[2016-04-09 11:04] RJP43 commented on #57
@spadafour @ebeshero

[Our codebook](https://github.com/RJP43/CitySlaveGirls/wiki/Checkout-our-Codebook!) is complete and updated!

[Our Schematron](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/nelsonSchematron.sch) is updated!

Article [1888-08-09](https://github.com/RJP43/CitySlaveGirls/blob/master/Nelson_CSG/CSG_XML/1888-08-09-ChTimes.xml) and Article [1888-08-12](https://

[2016-04-09 16:53] RJP43 commented on #57
[Our site index](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/siteIndex.xml) now has all of the organizations, archetypes, and other references added so that all of the files we are data mining this semester have an assigned xml:id. The organizations all need revied and information add in regards to standard name, address, etc. but my brother is here now and going to teach me

[2016-04-09 18:06] Ampzilla opened #59 "Using PHP to transform XML to HTML with XSLT"
PHP: [Manual](http://php.net/manual/en/index.php)

The process for transformation looks like this:

1. Create a PHP file that accepts 2 parameters from the URL

[2016-04-09 18:31] Ampzilla commented on #59
Also if you want to see a fully functioning version of this (except for the PHP code obviously which is on the server) you can visit:

[presidential.obdurodon.org](http://presidential.obdurodon.org/speeches.php)

[2016-04-09 21:14] #15 closed

[2016-04-09 21:15] #28 closed

[2016-04-09 21:17] RJP43 commented on #39
@nlottig94 I have been meaning to ask if we have any updates on this? And if not can you email him again or forward me his last message and I will email him? Thanks!

[2016-04-09 21:19] RJP43 commented on #47
We have started the variation markup which can be found in [this article](https://github.com/RJP43/CitySlaveGirls/blob/master/Nelson_CSG/CSG_XML/1888-08-19-ChTimes.xml) and we have ackled one issue from last semester regarding curly quotes. Still some work here, but I am closing this issue and will add these few things to the project check list in a later issue!

[2016-04-09 21:19] #47 closed

[2016-04-09 21:24] RJP43 commented on #48
We decided to remove all quotation marks and replaces them when dialogue with the `<said>` elements and otherwise with the `<hi>` as discussed above.

As for dashed we will just use the `-` and transform that in the xslt or css so that it renders as the HTML unicode. The same goes for the "&#8212;" which either appears in the text already as the unicode or as a sequence of 2-3 `-`.

[2016-04-09 21:24] #48 closed

[2016-04-09 21:25] RJP43 commented on #49
We have decided on the markup for version control. Please refer to our [codebook](https://github.com/RJP43/CitySlaveGirls/wiki/Checkout-our-Codebook!) and/or our first version controlled article [8-19](https://github.com/RJP43/CitySlaveGirls/blob/master/Nelson_CSG/CSG_XML/1888-08-19-ChTimes.xml)

[2016-04-09 21:25] #49 closed

[2016-04-09 21:27] RJP43 commented on #50
We have successfully transitioned our grammatical markup. Please refer to our [codebook](https://github.com/RJP43/CitySlaveGirls/wiki/Checkout-our-Codebook!)

[2016-04-09 21:27] #50 closed

[2016-04-09 21:29] RJP43 commented on #29
Thanks @brookestewart and @nlottig94 for the help transcribing early in the semester. Unfortunately there is a lot to review for article 8-10; therefore, it along with article 8-8 from last semester will sit outside of the data we mine this semester. However, we were able to update and review article 8-12 and we added it to the data for mining. Thanks again!

[2016-04-09 21:29] #29 closed

[2016-04-09 22:49] RJP43 commented on #57
I just finished adding the associated addresses and orgNames to the `<orgList>` of [our site index](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/siteIndex.xml).

[2016-04-09 23:33] ebeshero commented on #57
@RJP43 It was grabbing the <g> elements controlling particular nodes or edges with JavaScript, and firing a script that that would grab and post the associated file information, and pull up some relevant content from that file formatted in HTML in the same window. And I've never done this myself so it's really just an idea.

[2016-04-09 23:35] RJP43 commented on #57
Ok ... I actually think I know what I'm doing partially with PHP ... my brother posted some basics on another issue here to walk me thru incase I get stuck and for others to comment as well if they are working with PHP and have questions.

[2016-04-10 15:43] RJP43 opened #60 "Data for *Possible* Mapping"
@ghbondar

Here are the links to the two files that contain all of our place references within 1888-Chicago.

This one gives you companies and their addresses : http://dxcvm05.psc.edu:8080/exist/rest/db/Nelson/NellCompaniesAddresses.tsv

This one is just the places that we call "local references" :
http://dxcvm05.psc.edu:8080/exist/rest/db/Nelson/NellLocalPlaces.text

This issue would probably be

[2016-04-10 15:44] #20 closed

[2016-04-10 16:17] RJP43 commented on #60
UGH! The data is correct as far as being able to start finding places and all of the companies are associated correctly. The bug is that some companies are not appearing, and I am not really sure why? It might be an Site Index issue or could be XML related, but I have spent so much time this weekend on Nelson I have to walk away and get other work done. If @spadafour or @ebeshero want to look at m

[2016-04-10 17:38] ebeshero commented on #60
@RJP43 I'll take a look right now and see if I can debug your nelsonPlacesAndCompanies query...more in a few minutes

[2016-04-10 20:07] ebeshero commented on #60
@RJP43 I've concluded that the two entries coming up as "No Address" must be *non-hits* in your site index. That is, I think you have two values of $i  in your for loop running over the distinct values of `@ref` attributes of orgNames in your aticles that **are not correctly matching `@xml;id` values** in your site index. Here's how I'm about 99% sure this is so:

1) I ran a separate XQuery over j

[2016-04-10 21:49] RJP43 commented on #60
We have several thing in our Schematron to check for this kind of messy data and all of our XMLs are green in oxygen these are the rules we have for these things:

[code]
This rule is doing the checking into our site index so that each of those attributes verify there is a site index entry that corresponds. This rule fires correctly, and was tested when I added the new archetypes and company ids b

[2016-04-11 09:20] RJP43 commented on #59
@ebeshero this is the basic of what my brother taught me .. I hope to experiment with more of this in this week in preparation of our Oakland Presentations

[2016-04-11 15:22] ghbondar commented on #60
@RJP43 @spadafour  Here is a link to an 1898 panoramic map of central Chicago... streets are mostly still the same as today, so you can find a location using Google Maps to get a general idea where it is, and then locate it on this map, or other maps that you can Google using "Chicago 1888 maps" or some such...
[https://www.loc.gov/resource/g4104c.pm001530/](https://www.loc.gov/resource/g4104c.pm0

[2016-04-11 15:41] ghbondar commented on #60
@RJP43 1875 streetmap of chicago: [https://upload.wikimedia.org/wikipedia/commons/3/31/Chicago-warner-beers-1875.jpg](https://upload.wikimedia.org/wikipedia/commons/3/31/Chicago-warner-beers-1875.jpg)

[2016-04-11 15:50] ghbondar commented on #60
@RJP43  This looks good:
[https://www.newberry.org/chicago-neighborhood-guide](https://www.newberry.org/chicago-neighborhood-guide)

[2016-04-12 04:19] ebeshero commented on #59
@RJP43 @Ampzilla Thanks for the PHP help! I am just learning this myself. :+1:

[2016-04-12 04:31] ebeshero opened #61 "Preparing Historic Maps for the Web"
Here is a great lead explaining what needs to be done:
http://chris-osm.blogspot.com/2014/04/images-to-map-overlays.html

And here are a couple of little georeferencing experiments we tried last year for the Mitford project:

[2016-04-13 02:10] nlottig94 commented on #39
@RJP43 I just emailed him!  I Cc-ed you!  I'm sorry for the delay!

[2016-04-13 18:51] spadafour commented on #54
[code]

Becca and I have been working on this since class and all parts are working individually to do what we want ; however, when we put it all together in the string-join and to output it to a .tsv we are getting an error. @ebeshero Could you help us figure this out? When I come back from class at 4 we would like to work out a corrected cytoscape network, before beginning some more mapping work

[2016-04-14 03:00] RJP43 commented on #60
@spadafour and I fixed the issue we were having with blank orgNames and it was indeed an XML issue! Thanks @ebeshero for checking this and leading us in that direction!

Here is the link to the new data: http://dxcvm05.psc.edu:8080/exist/rest/db/Nelson/NellCompaniesAddresses.tsv

[2016-04-14 03:03] RJP43 commented on #59
@ebeshero's idea for PHP integrated into SVG from Cytoscape

`grabbing the elements controlling particular nodes or edges with JavaScript, and firing a script that that would grab and post the associated file information, and pull up some relevant content from that file formatted in HTML in the same window`

Moved this from other issue to keep all PHP stuff together!

[2016-04-14 03:04] RJP43 commented on #59
@spadafour and I were discussing creating several xslts (@Ampzilla 's suggestion) that all have a different focus (ie. versioning, gender, grammatical) for the markup so that users could choose what kind of markup text they want to see

more to come on this soon!

[2016-04-14 03:05] RJP43 commented on #61
@nlottig94 can you just copy the info for the image mapping into here. No need to create a new issue since it is 100% related to this issue! Thanks!

[2016-04-14 03:07] RJP43 commented on #54
@spadafour @ebeshero @ghbondar any thoughts why we are getting an issue now?

[2016-04-14 03:09] RJP43 commented on #54
I was thinking one way to maybe fix it would be instead to take the whole thing from the nouns which sometimes fall as multiples for each poss ... so the single thing in the many would be noun in nouns and then we would have to find the associates poss for each. I am not sure that is what this error actually means tho. I would have thought that even the way we are doing i would just cause a repeat

[2016-04-14 03:26] RJP43 opened #62 "What needs done:"
@spadafour Here is where is our big check list:

## Network Analysis (grammar)
- [ ] fix data error for grammar tsv needed for cytoscape

- [ ] output readable cytoscape *directed* network analysis

- [ ] try implementing PHP on SVG of the cytoscape network analysis

## Mapping

- [ ] finish testing mapping programs that overlay maps

- [ ] use photoshop and image mapping to mark out Nelson's rout

[2016-04-14 15:08] ebeshero commented on #60
@RJP43 Congrats on a successful debugging! @spadafour
Also, try importing your street addresses here, the GPS visualizer, to see if it spits back latitude and longitude coordinates for each...there are a variety of ways to output: try KML as well as plain text:

http://www.gpsvisualizer.com/geocoder/

[2016-04-14 15:13] ebeshero commented on #60
@RJP43 Congrats on a successful debugging! @spadafour
Also, try importing your street addresses here, the GPS visualizer, to see if it spits back latitude and longitude coordinates for each...there are a variety of ways to output: try KML as well as plain text:

http://www.gpsvisualizer.com/geocoder/

[2016-04-14 15:39] nlottig94 commented on #61
@RJP43 @spadafour
Here is that website for the image mapping!!
http://imagemap-generator.dariodomi.de/

[2016-04-14 23:30] RJP43 commented on #54
@ebeshero this is the issue I was trying to explain after capstone today.

[2016-04-14 23:33] ebeshero commented on #54
@spadafour and @RJP43 Sorry for the delay! I'm on it now...

[2016-04-14 23:34] ebeshero commented on #54
Any updates since you were working on this??? Sorry--I've been buried under Lit Capstone drafts since yesterday!

[2016-04-14 23:37] RJP43 commented on #54
No in the same situation I didn't try what I was thinking in my last comment because I'm buried in my own drafting and I wasn't gonna get caught up on it if it looks like that isn't actually what is causing the error. Thanks for having a look!

[2016-04-15 00:00] ebeshero commented on #54
@RJP43 @spadafour Well, I corrected something bizarre and not right in the `$possValue` if () then else statement--really just simplified that. That resolved one set of errors, but a cardinality error remained.

Now, I've isolated the problem to this part, and I can already see the problem: You're not writing `if() then else` statements correctly! Here's what's happening: You're saying:

if (condi

[2016-04-15 00:08] ebeshero commented on #54
So, here's how I corrected `$possValue`

[code]

Now, I think you can do something similar to correct $correspObject. I'll leave that to you, and ping me if you're still stuck!

[2016-04-15 01:34] RJP43 commented on #54
@ebeshero that correction for `$possValue` takes away the pulling in of the names from the site index as what appears in the list, which is what we had and want so that we aren't using the jammed up text of the `@ana`/`@ref`/xml:id (like `workingGirl`) or the literal text inside of the `<w>` element (like `her`) and instead get our consistent site index `<re>` text (`City Slave Girl`) or for organ

[2016-04-15 02:03] RJP43 commented on #54
No that didn't work either now I am getting the 722 nouns for `$nounValue` and only 93 possessive words for `$correspPoss`

[code]

I think the issue is that sometimes there are more than one poss words in a phrase for a single noun and sometimes there are more than one nouns in a phrase for a single poss word, and I am not sure that we are grabbing those instances correctly.

What we would want i

[2016-04-15 02:05] RJP43 commented on #54
@ebeshero @spadafour thoughts to fix?

[2016-04-15 02:07] ebeshero commented on #54
@RJP43 @spadafour OK--I see what I mistook before as a second test for equivalence in your then statements was actually an `=` in your predicates! Sorry about that! I'll go take a look again.

[2016-04-15 02:10] ebeshero commented on #54
@RJP43 @spadafour if you have 722 associated nouns, you need to have 722 lines of output. I think you fix this with a new for loop to generate a line for each associated noun.

[2016-04-15 02:19] RJP43 commented on #54
aha! yes!

[2016-04-15 02:21] RJP43 commented on #54
Thank you! @ebeshero @spadafour here is the link http://dxcvm05.psc.edu:8080/exist/rest/db/Nelson/nelsonGrammarOutput.tsv and its working

[2016-04-15 03:46] ebeshero commented on #54
@RJP43 Huzzah!! Success. I'm glad you figured it out--and I'm sorry I had trouble reading those dense if then statements earlier! ;-)

[2016-04-15 03:46] RJP43 commented on #54
It's understandable they took us a while to figure out too.

[2016-04-15 03:49] ebeshero commented on #54
I'm skimming through your TSV now, and I think my favorite lines are:
[code]
I think that could be a T-shirt design, too...too bad we already made a batch of shirts! ;-)

On an unrelated note, check Courseweb for your Theory Exam score, and make sure I give that back to you (and Amanda and Megan) tomorrow!

[2016-04-15 11:30] RJP43 commented on #54
@spadafour so I ordered this list by our $possValue to group all of the like things into sections and what I am noticing is we should probably go back through some of the ones that are pooping up still as pronouns and verify that they aren't just missing `@ana` for example we might want to check out were there all fall:
[code]
We can discuss this in class.

[2016-04-15 14:45] RJP43 commented on #54
@ebeshero here is one of my favorite lines:

`toilet's	poss	hertoilet's greasy task	task	noun`

[2016-04-16 00:01] ebeshero commented on #54
Ughhhh, gross! Lol! :+1:

[2016-04-27 02:10] RJP43 opened #63 "Help with XSLT -- Suggestions Please!!"
@ebeshero @spadafour @nlottig94 @brookestewart

So the final reading view for the XSLTs that I need to finish is [the one that highlights our grammatical markup](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/ReadingXSLTs/possGrammarView.xsl) and I am struggling to come up with a logical setup. So previously when we were highlighting our old grammatical markup we had a table ru

[2016-04-27 08:05] ebeshero commented on #63
@RJP43 I am not sure from your XSLT where you are doing the work of calling up the appropriate SVG network graph for a particular article, and I haven't seen how you are incorporating PHP yet, so I am not sure where the association of files is happening. However, what you want to do should be do-able, given some associated matching string of text in the SVG `base-uri()` and the contents of a title

[2016-04-27 10:32] RJP43 commented on #63
@ebeshero  @djbpitt I haven't yet actually called on it in the XSLT. So far the XSLT just takes care of all the other aspects of the text that need to be accounted for. I have not done anything yet to highlight our grammar markup because I was looking for suggestions, but I will give it a shot this evening after I finish a paper. I think I will go ahead and have the table alongside the text again,

[2016-04-27 11:01] ebeshero commented on #63
@RJP43 Okay, you know my thoughts on this, I think. Reduce the text at the top so we can access your interface more quickly. You need some kind of instruction or legend to be visible, but reduce the space of it, and I wouldn't use center alignment in that left-hand div. Try listing out the relevant information and instructions: Much of the issue here is really a writing problem: Concentrate on pri

[2016-04-29 00:52] spadafour opened #64 "Checkbox Javascript???"
How do we toggle elements with a specific class to show/hide via a checkbox? I've been googling solutions, and this is the best I could come up with:

[code]

[2016-04-29 01:05] spadafour commented on #64
Okay, I revised the code entirely:

[code]

[2016-04-29 02:52] spadafour opened #65 "Official Submission Spring 2016"
@ebeshero @ghbondar
@RJP43 and I are officially submitting our [project for grading](http://nelson.newtfire.org/index.html). This is what we were able to produce in the time allotted; there are aspects of this site that we know need to be improved. Since this project is ongoing, these are the things we plan to continue with in the future:

-We could not implement PHP within the reading views in ti

[2016-04-29 03:45] RJP43 commented on #65
*complete overhaul of the site writeups

[2016-04-29 17:58] ebeshero commented on #65
@spadafour @RJP43 Thanks for the submission notice! Before I grade this, I want to draw your attention to a site rendering problem: Open your pages in Firefox or a browser other than Chrome and look at your apostrophes. There's a UTF-8 encoding problem and (just as importantly), a related problem with w3c Validation.

Here's what happens when I go to validate your site: https://validator.w3.org/nu

[2016-04-29 18:38] ebeshero commented on #59
@RJP43 @spadafour @Ampzilla For implementing PHP on the CitySlaveGirls site at the PSC, here's what here's what I've learned, and what I recommend
* In order to make XSLT execute from within the Apache web server, we'd need to install a special program there, something so that Java can execute the saxon XSLT transformation. It's probably a security risk for the PSC, and it's something we'd need to

[2016-04-29 18:43] djbpitt commented on #59
This is the PHP I use when users click on a tale title at http://aal.obdurodon.org (remove the ".txt" extension; GitHub made me add that). Let me know if anything is unclear. The basic logic is that when a user asks for a tale (to be served in HTML), after a lot of security checking, it checks whether the HTML exists. If not, it generates it, saves it, and serves it. If it does exist, it compares

[2016-04-29 18:46] djbpitt commented on #59
The security risk with the approach I describe above is that PHP exec() can execute malicious code if a user knows how to fool it. For that reason, some systems that run PHP disable the exec() function. If you need it, you don't have to be afraid of it, but you should sanitize any user input carefully before passing it to exec(). If you're already running eXist for other purposes, the idea of goin

[2016-04-29 18:47] #64 closed

[2016-04-29 18:49] spadafour commented on #65
Okay, @ebeshero , all pages are now valid.

That is, all pages but the ones with network graphs on them; the validator does not like the s, and I don't know why.

But everything else is valid now, and the sag is at least visually there.

[2016-05-06 13:30] ebeshero opened #66 "Notes for Revision on Nell Nelson Website"
* Add a separate Methodology page to feature blocks of code and explanations of plus links to software / technology you're using.
* The site could use some explanation and/or representation of your Site Index. On [your explanation of the network analysis](http://nelson.newtfire.org/GrammarNetworks.html), you say in passing that "orange-border nodes **are site-index nouns** or archetypes that are i

[2016-05-18 01:18] nlottig94 commented on #39
@RJP43 @brookestewart @spadafour
Hi guys!!  So I hope you all got my text (even though I haven't heard back from any of you!!)! So here is the breakdown for ILiADS.

* They lowered the price from $850 per person to **$250 per person**!
* The cost to stay on campus is $50 per night per person.
Which means:
* $250 registration fee PLUS $250 for room and board = $500 per person total

We could get a

[2016-05-23 17:39] RJP43 commented on #39
Hey @brookestewart and @spadafour I am making plans with Nicole to attend this conference, but we need to know ASAP if you guys can join us. I understand $500-$600 is a lot of money to get together, but as we have discussed previously this is a fantastic opportunity not just in an academic sense or for the Nelson project but consider this as an experience that could potentially show future employe

[2016-05-23 17:40] RJP43 commented on #39
An no pressure if you cant go that is fine, just please let us know!

[2016-05-25 00:38] brookestewart commented on #39
I will be unable to attend due to money and schedule conflicts.

[2016-05-25 03:00] nlottig94 commented on #39
@RJP43
I just registered for ILiADS!!! Just so you know, it was $250 for the registration and then it was $20 a night for student accommodation instead of $50!  So overall, it was $350, which cut off $150!!!  So all we'll have to worry about is the money for gas!!
@spadafour again, if you would like to go, let me know and I'll email you the link for the registration. _You should do this sooner rat

[2016-05-26 00:35] RJP43 commented on #39
@nlottig94 @spadafour @brookestewart I am officially registered as well, and it was only $350!!! What a fantastic opportunity. There is still opportunity for either of you to register as well. Let me know if you need details :) can't wait for road trip to New York and a week of working on Nelson with several one on one meetings with "project experts"! Look forward to seeing you all at Keystone DH!

[2016-06-05 15:00] spadafour commented on #39
Hey guys, sorry I'm a little late to the party. I'm registered for the Keystone DH, but unfortunately, I won't be able to make it to the iliads conference.

[2016-06-06 21:21] RJP43 commented on #39
Thanks everyone for your responses. @nlottig94 and I have been in contact with our coach and plans are in the making for us to develop the reading interface and mapping. I am closing this issue and we will open a new issue during the conference to keep record of changes and issues as they arise.

[2016-06-06 21:21] #39 closed

[2016-06-26 17:46] RJP43 opened #68 "Summer Transcription and Coding Work"
Be great if each of us can work on finishing these transcriptions and encoding sometime this summer. If you finish early and would like another assignment ping me in this issue. Please use this [template](https://github.com/RJP43/CitySlaveGirls/blob/master/Nelson_CSG/CSG_TEI-Template.xml) and reference our [codebook](https://github.com/RJP43/CitySlaveGirls/wiki/Check-Out-Our-Codebook!)

Nicole: [A

[2016-06-26 17:56] nlottig94 commented on #68
Got it!! Can't wait to read more of Nelson's wit!

[2016-07-06 15:53] nlottig94 commented on #68
@RJP43 What xml:id should I use for Judge O. H. Horton?? `#promMen`??

[2016-07-06 23:15] RJP43 commented on #68
@nlottig94 yes! Thanks for you work!

[2016-07-07 17:35] nlottig94 commented on #68
Information on the `#promMen` C. B. Holmes:
http://archives.chicagotribune.com/1889/02/28/page/9/article/c-b-holmes-buying-another-road
https://books.google.com/books?id=Pw1FAQAAMAAJ&pg=PA827&lpg=PA827&dq=C.%20B.%20Holmes%20Mission&source=bl&ots=WhpikqQ_I2&sig=cpIT-JXNv1O2aKdufZBRestSYcc&hl=en&sa=X&ved=0ahUKEwjBr6LP7-HNAhXLFT4KHWHZAO4Q6AEIPDAF#v=onepage&q=C.%20B.%20Holmes%20Mission&f=false
https:/

[2016-07-07 18:32] nlottig94 commented on #68
Transcribing and minor coding is finished for the article from 1888-08-30!!

[2016-07-10 17:56] nlottig94 commented on #68
@RJP43 @spadafour @brookestewart
As a follow up to my last comment: I honestly don't feel that comfortable with coding up the grammar parts that I know are important in the articles. It's not that I'm not capable of doing it, it's just that I'd like to work with either Becca or Rob on how to do it correctly _the first time_ rather than having someone have to go fix everything I did. Could we kind

[2016-07-11 14:52] RJP43 commented on #68
Can't wait to see @nlottig94 tonight for our code-athon ... Also you can work on starting the article assigned to @brookestewart unless she is working on it already. We can discuss this further tonight.

[2016-07-12 14:11] RJP43 commented on #68
![pronounschart](https://cloud.githubusercontent.com/assets/8645521/16770022/fd5e520e-4818-11e6-82c9-1ad48dcf4dfb.jpg)

[2016-07-12 14:30] RJP43 commented on #68
@nlottig94 @brookestewart @spadafour
When doing grammatical markup open the code book to Rule No. 3 and go to find & replace window. Search each of the words in the last two columns of the above chart. For each word you need to check just the word, the word with spaces before and after, the word with comma after, the word with period after, the word with capital first letter, and the word with low

[2016-07-25 15:36] nlottig94 opened #81 "ILiADS Ideas"
Here is a link for 19th century maps: https://www.lib.uchicago.edu/e/collections/maps/

[2016-07-25 15:58] nlottig94 commented on #81
We should download omeka and neatline...can we use this on the PSC @ebeshero?

[2016-07-25 16:20] nlottig94 commented on #81
Okay, so I'm trying to see where I can find some images of the specific places Nelson visited. There is a blog of old postcards from Chicago..I know, a blog..but it's images! [Here it is!](http://chuckmancollectionvolume13.blogspot.com/#uds-search-results) We can just see what's useful here and see if we can use the images?

[2016-07-25 18:34] nlottig94 commented on #81
[Reclaim](https://reclaimhosting.com/)??

[2016-07-25 18:53] nlottig94 commented on #81
Mapping things:
http://leafletjs.com/
http://www.outsharked.com/imagemapster/

[2016-07-25 18:58] nlottig94 commented on #81
[Chicago 1886](http://www.davidrumsey.com/luna/servlet/detail/RUMSEY~8~1~34337~1171252:Blanchard-s-guide-map-of-Chicago-?sort=Pub_Date%2CPub_List_No_InitialSort&qvq=w4s:/where%2FChicago%2B%252528Ill.%252529%2FChicago%2B%252528Ill.%252529%2Fwhen%2F1886;q:City%3D%22Chicago%2B(Ill.)%22%2B;sort:Pub_Date%2CPub_List_No_InitialSort;lc:RUMSEY~8~1&mi=4&trs=7)

[2016-07-25 19:13] nlottig94 commented on #81
dhinitiative.org/demos/maps

[2016-07-25 20:06] nlottig94 commented on #81
WE MUST HAVE `cooper` FONT!!!

[2016-07-25 20:35] nlottig94 commented on #81
latlong.net
meredithgoldsmith.com
Find Lat and Long, and then check them on a period map.
Factory|Location|Latitude(first)|Longitude(second, negative)|Products|Number of Employees|Wages|Gender|Description

[2016-07-26 14:48] nlottig94 commented on #81
CartoDB?
Google Maps?
QGIS?

[2016-07-26 19:13] nlottig94 commented on #81
[Drupal](https://www.drupal.org/)

[2016-07-27 00:52] RJP43 commented on #81
[Siegal-Cooper Company GeoRef Info Source](https://books.google.com/books?id=tCDT4XNQELMC&pg=PT239&dq=original+siegel+cooper+building+Washington+and+Randolph&hl=en&sa=X&ved=0ahUKEwiA98uvtpLOAhXDGx4KHYjhDLgQ6AEIKDAC#v=onepage&q=original%20siegel%20cooper%20building%20Washington%20and%20Randolph&f=false)

[2016-07-27 01:41] nlottig94 commented on #81
Decorative Art Society:
[How it was sold])https://books.google.com/books?id=DYoZAAAAYAAJ&pg=RA6-PA48&lpg=RA6-PA48&dq=decorative+art+society+Chicago+1888&source=bl&ots=atlriKQHwr&sig=c59jygCvZi6YU8c-Gio3x-IiGRY&hl=en&sa=X&ved=0ahUKEwj7osvLuZLOAhVLXR4KHX29BKAQ6AEIMDAD#v=onepage&q=decorative%20art%20society%20Chicago%201888&f=false)
[Census Page](http://interactive.ancestry.com/6742/4240476-00182/302

[2016-07-27 01:49] nlottig94 commented on #81
[Corn Exchange Bank](http://www.ebay.com/itm/Chicago-3-Autograph-Corn-Exchange-National-Bank-Victor-Lawson-Chicago-Daily-News-/361602818441?hash=item5431352189:g:yHwAAOSwQTVV90Or)

[2016-07-27 15:08] nlottig94 commented on #81
[Gephi to web interface](https://marketplace.gephi.org/plugin/sigmajs-exporter/)

[2016-07-27 16:55] nlottig94 commented on #81
Fairbank Canning Company:
[Info](https://books.google.com/books?id=9pk6AQAAMAAJ&pg=PA313&lpg=PA313&dq=Fairbank+Canning+Company+Chicago+1888&source=bl&ots=LRdG5woiNp&sig=pD1HKY096ari-CwErzMDHUhIFQU&hl=en&sa=X&ved=0ahUKEwiZzfDQ_pPOAhXCMx4KHZsOCkEQ6AEILDAD#v=onepage&q=Fairbank%20Canning%20Company%20Chicago%201888&f=false)

[2016-07-27 17:02] nlottig94 commented on #81
Girls' Friendly Society:
[Info on where it was held](https://books.google.com/books?id=5QxGAQAAMAAJ&pg=PA116&lpg=PA116&dq=Girls%27+Friendly+Society+chicago+1888&source=bl&ots=R59xHC_C5h&sig=Y89gm_jJNZaEMMXZRliIBEe7SIg&hl=en&sa=X&ved=0ahUKEwjy0KSgj5TOAhUEdz4KHQt_DY4Q6AEIJDAB#v=onepage&q=Girls'%20Friendly%20Society%20chicago%201888&f=false)

[2016-07-27 18:21] nlottig94 commented on #81
BagIt.....

[2016-07-27 18:36] nlottig94 commented on #81
[The Wayback Machine](https://archive.org/web/)

[2016-07-27 18:51] nlottig94 commented on #81
![image](https://cloud.githubusercontent.com/assets/14095715/17188025/876af5dc-5409-11e6-9218-79bf65b1c854.png)

[2016-07-27 19:20] nlottig94 commented on #81
Photoshop-ish _free_ sites:
[GIMP](https://www.gimp.org/)
[pixlr](https://pixlr.com/)

[2016-07-27 20:08] nlottig94 commented on #81
Grace Church:
[Info from the Chicago Tribune](http://archives.chicagotribune.com/1888/10/13/page/3/article/mr-bristols-successor)

[2016-07-27 20:44] nlottig94 commented on #81
[I FOUND SOMETHING AMAZING!!!!](https://www.myheritage.com/research/collection-90100/compilation-of-published-sources?itemId=57076399&action=showRecord)

[2016-07-27 21:24] RJP43 commented on #81
[Skyline Image Info.](http://dcc.newberry.org/collections/chicago-and-the-worlds-columbian-exposition#the-real-city-and-the-dream-city)

[2016-07-28 01:31] nlottig94 commented on #81
[Knights of Labor Info](https://www.myheritage.com/research/collection-90100/compilation-of-published-sources?itemId=57076399&action=showRecord)
Need to do a little more research on this.

[2016-07-28 12:54] nlottig94 commented on #81
Comment on slack about needing a job..for me at least.

[2016-07-28 13:33] nlottig94 commented on #81
Things I need to do:
- [ ] Finish finding geo coordinates for all organizations in Site Index.
- [ ] Explore and try all different mapping softwares to see what will work best with what we want.

[2016-07-28 14:49] nlottig94 commented on #81
Font Awesome

[2016-07-28 15:09] nlottig94 commented on #81
[Google nik](https://www.google.com/nikcollection/)

[2016-07-28 18:27] nlottig94 commented on #81
##DH Mapping tools:
* Google Earth
  *Have to have Google Earth downloaded on local machine.
  *Straight forward, not too complicated.
  *Can place points, overlays, polygons, etc.
  *Add description, image/views, url/links, etc. to the above things (in HTML).
  *Galleries of other map projects.
  *Can do overlays...
* [Google My Maps](https://www.google.com/maps/d/)
  *View on web browsers.
  *Sa

[2016-07-28 18:29] nlottig94 commented on #81
dirtdirectory.org for maps

[2016-07-29 00:48] nlottig94 commented on #81
Pullman Palace Car:
[Info](http://www.pullman-museum.org/theCompany/pullmanBuilding.html)

[2016-07-29 00:48] nlottig94 commented on #81
[This may be useful at some point...](http://www.idaillinois.org/ui/custom/default/collection/default/resources/custompages/bin/edi.php?collection=pshs&startrec=201)

[2016-07-29 02:13] nlottig94 commented on #81
[Second Pres. Church](http://2ndpresbyterian.org/history/)

[2016-08-02 16:11] RJP43 commented on #66
Please refer to [this repo](https://github.com/RJP43/CitySlaveGirls_bootstrap) and this [Issue](https://github.com/RJP43/CitySlaveGirls_bootstrap/issues/1) for continued site development!

[2016-08-13 20:22] RJP43 commented on #59
@djbpitt My brother ( @Ampzilla ) and I attempted to use your PHP code discussed above on the Nelson site sitting on Obdurodon; however, seems that since the folder owner is not apache my exec function in PHP can't write the html output file. The error message we are getting is:
` ( [0] => Error on line 8 of readingView.xsl: [1] => Failed to create output file [2] => file:/var/www/html/nell/articl

[2016-08-18 20:31] nlottig94 commented on #68
@RJP43 I'm finished transcribing and coding the article from 1888-08-08!!

[2016-08-18 20:56] nlottig94 commented on #81
[Prof. David Swing](http://archives.chicagotribune.com/1888/12/19/page/9/article/prof-swing-on-empty-church-pews)
[Prof. David Swing Wikipedia](https://en.wikipedia.org/wiki/David_Swing)
[Fourth Presbyterian Church Chicago](http://www.fourthchurch.org/about/history/index.html)

[2016-08-18 21:27] nlottig94 commented on #81
[Woman's Christian Temperance Union](https://chicagology.com/goldenage/goldenage100/)

[2016-11-01 22:42] RJP43 opened #91 "Archetype Network Graphs"
@nlottig94

- [ ] create key on each of the network graphs (City Slave Girl, Foreperson, Employer, Employee, Nelson)

- [ ] Eliminate excess space to the right of the networks

Key should include:
 people/relationships -- node color #66FF66
 body/self references -- node color #FF9999

[2016-11-01 22:53] RJP43 commented on #91
# Notes Regarding Network Graphs:

used [clean-network Cytoscape session](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/GrammarNetworks/NetworkSession_Clean.cys)
for each archetype selected first-neighbors (undirected/outgoing)

### Styling
**Whole Network:**
   "curved" style
   Background #FFFFFF

**Basic Edges:**
   Color #CCCCCC
   Target Arrow Shape = Arrow

**Basic Nodes

[2016-11-02 02:01] #65 closed

[2016-11-03 16:36] nlottig94 commented on #91
@RJP43 I would like to put the "objects owned" node on the legend as well, so could you give me the node and edge color for that one as well?

[2016-11-03 16:38] nlottig94 commented on #91
@RJP43 Oh wait....is that the basic nodes info you already gave me? Haha

[2016-11-03 18:26] RJP43 commented on #91
@nlottig94 yes, #CCCCCC

[2016-11-23 17:10] nlottig94 commented on #91
@RJP43 I swear that I will try my hardest to get the legends finished within these next five days!!!

[2016-11-23 17:18] nlottig94 opened #95 "Mapping/Image Mapping Stuff"
Okay, so I'm going to link **all** of the images of Chicago and the image mapping site that I use so we have it all in one issue! I will have it up as soon as I can!

[2016-11-23 17:19] nlottig94 commented on #95
Here is a link for 19th century maps (Chris Winters): https://www.lib.uchicago.edu/e/collections/maps/
Here's a [good one](https://www.lib.uchicago.edu/lib/public/full_screen.html?https://www.lib.uchicago.edu/e/collections/maps/chi1890/G4104-C6-1897-R3/), I'm looking at others as we speak.

Also, [Chicago Public Library](http://digital.chipublib.org/cdm/)'s Digital Archive...
And...the [New York P

[2016-11-23 17:22] nlottig94 commented on #95
@RJP43 @spadafour
This is all just copied from the ILiADS issue, but it's the information that's important, right??

[2016-11-23 17:24] nlottig94 commented on #95
[Here is the site/online generator I use for the image mapping on Dickinson.](http://imagemap-generator.dariodomi.de/)

[2016-11-23 17:25] RJP43 commented on #95
@nlottig94 I think I have settled on the map that is live on the site; however, we might decide to do a secondary map that is linked on that page for the companies that are outside of that main district. So be good if we keep these other map images on the back burner to we plan that out. For now we want to get that main map working.

[2016-11-23 17:26] nlottig94 commented on #95
@RJP43 Got it! I'll see what I can play around with!!!

[2016-11-26 20:34] RJP43 commented on #81
2016 Smithsonian Magazine Article mentioning Nelson and other female stunt reporters -http://www.smithsonianmag.com/history/women-reporters-undercover-most-important-scoops-day-180960775/

[2016-11-26 20:52] nlottig94 commented on #95
[This is a sample of how image mapping works on Dickinson.](https://github.com/nlottig94/Dickinson/blob/master/Web-Files/16/1604.html)

[2016-11-27 17:06] nlottig94 commented on #91
@RJP43 so most of the legends are finished! I just have a few more to go, but I have a prior commitment for a few hours, so I'll finish them when I can.

[2016-11-27 17:07] RJP43 commented on #91
You are awesome-sauce!

[2016-11-28 02:17] nlottig94 commented on #91
@RJP43 All of the legends with the dots are now finished!! I'm going to work on deleting whitespace around the other network graphs now!

[2016-11-28 21:41] nlottig94 commented on #91
@RJP43 So all I have to do now is the legends for the other article specific grammar networks, but you'll have to describe what you want in those for me!!

[2017-01-03 02:19] RJP43 commented on #81
@nlottig94 what was the site you used to overlay that other historical map over a modern map?

[2017-01-03 13:24] nlottig94 commented on #81
@RJP43 Did I do it on Google Maps or on the sanborn maps page? I can't remember

[2017-01-03 16:06] ebeshero commented on #81
@RJP43 @nlottig94 We've done this on Google Maps before, in the Pacific project here:

http://pacific.pitt.edu/HistOverlay.html

I've also played with [Worldmap Warp](http://warp.worldmap.harvard.edu), but their server is super slooow, so it looks as if georectification produces a ball of garbage, until you log in and look at your lovely properly overlaid map some hours(?) later. I think Google sh

[2017-04-10 19:42] RJP43 commented on #5
look into the times digital archive 1785-2011 to see the reaction to Nelson or the series in newspapers

[2017-05-16 01:52] RJP43 commented on #81
https://dp.la/timeline?state%5B%5D=Illinois#/1888